<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: top}">

</head>
<body>
<div class="parallax">
<h1>Add New Game</h1>
  <form action="/games/save" method="post">

    <h2>Game Details</h2>
    <label>Name: </label>
    <input type="text" th:field="${game.name}" required/><br/>

    <label>Price: </label>
    <input type="number" th:field="${game.price}" step="0.01" required/><br/>

    <h2>Category Details</h2>
    <label>Category Name: </label>
    <input type="text" th:field="${category.name}" required/><br/>

    <button type="submit">Add Game with New Category</button>
    <a href="/game_list">Cancel</a>
  </form>
</div>
</body>
</html>