<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${game.id == null ? 'Add New Game' : 'Edit Game'}">Add/Edit Game</title>
</head>
<body>
<h1 th:text="${game.id == null ? 'Add New Game' : 'Edit Game'}"></h1>
<form th:action="@{/games/update}" th:object="${game}" method="post">

    <input type="hidden" th:value="${game.id}" name="id" />

    <label for="name">Game Name:</label>
    <input type="text" id="name" th:value="${game.name}" name="name" required />


    <label for="price">Price:</label>
    <input type="number" id="price" th:value="${game.price}" name="price" required />


    <label for="categoryName">New Category (if needed):</label>
    <input type="text" id="categoryName" th:value="${game.categoryName}" name="categoryName" placeholder="Enter new category name" />


    <button type="submit">Update Game</button>
    <a href="/games_list">Cancel</a>
</form>
</body>
</html>