<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: top}">

</head>
<body>


<div class="parallax">

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${games}">
            <td th:text="${game.id}"></td>
            <td th:text="${game.name}"></td>

            <td th:text="${game.categoryName != null ? game.categoryName : 'Uncategorized'}"></td>
            <td th:text="${game.price}"></td>
            <td>
                <a th:href="@{/games/edit/{id}(id=${game.id})}" style="color: blue;">Edit</a> |
                <a th:href="@{/games/delete/{id}(id=${game.id})}" >
                    <button class="noselect">
                        <span class="text">Delete</span>
                        <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" viewBox="0 0 24 24">
                     <path
                        d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
                   </path>
            </svg>
        </span>

                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>


</div>


</body>
</html>